body {
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 700px;
  margin: 30px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.tools-buttons button {
  background: #3b82f6;
  color: white;
}

.tool-section {
  display: none;
  margin-top: 20px;
}

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
}

.keyboard button {
  background: #facc15;
  color: black;
}
